{% load core_tags %}
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Card List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body style="background-color:#EBEBEB;" >

<header class="p-3 mb-3 border-bottom" style="background-color:#282727;">
    <ul class="nav me-lg-auto mb-2 justify-content-center mb-md-0">
        <li style="margin-left:1%" class="nav-item"><a href="/" class="nav-link link-light px-2 "
                                                       aria-current="page"><h4>
            Home</h4>
        </a></li>
        <li style="margin-left:1%" class="nav-item "><a href="/card-add" class="nav-link link-light px-2"
                                                        aria-current="page">
            <h4>
                Create Card</h4></a></li>
        <li style="margin-left:1%" class="nav-item "><a href="/generation-card"
                                                        class="nav-link link-light px-2"
                                                        aria-current="page"><h4>Generation Card</h4></a>
        </li>
        <li style="margin-left:1%" class="nav-item "><a href="/purchase" class="nav-link link-light px-2"
                                                        aria-current="page">
            <h4>
                Make Purchase</h4></a></li>
        <li style="margin-left:1%" class="nav-item "><a href="/purchase-history"
                                                        class="nav-link link-light px-2"
                                                        aria-current="page"><h4>Purchase History</h4></a>
        </li>
            <form  style="margin-left:10%;" method="get" role="search" class="nav-item">
            <input id="Enter" onkeypress="return runScript(event)" type="search"
                   class="form-control text-bg-light nav-link" size="35"  style="font-size:100%; font-family:Gill Sans, sans-serif;"
                   placeholder="Search Card..." aria-label="Search" name="number">
        </form>


    </ul>

</header>

{% block content %}
{% endblock %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

{% block js %}
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}
</body>
</html>